<!DOCTYPE HTML>
    <html lang="en">
        <head>
            <title>Search A Movie Poster </title>
<style>
		/* To color the background */
		body {
		background-color: rgb(221, 177, 136);
		}
		/* Text alignment Center */
		.main {
		text-align: center;
		}
		/* Text color, font size & font weight */
		.GFG {
		color: #009900;
		font-size: 50px;
		font-weight: bold;
		}
		/* Font Size and style */
		#geeks {
		font-style: bold;
		font-size: 20px;
		}
	</style>

        </head>
        <body>
            <div id="container">
                <div class="form">
                    <form action="/search" method="post">

                        <div id="input-1">
                            <label for="name">Insert Movie Name:</label>
                            <input type="text" name="name" id='name' required>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div id="div-submit">
                            <input type="submit" value="submit">
                        </div>
                    </form>
                </div>

            </div>
        </body>
    </html>